.inputs {
    width: 150px;
}

.mes-input {
    width: 400px;
}

.alert {
    width: 400px;
}

.alert p {
    color: black;
}

@media (max-width: 400px){
    .mes-input {
        width: 300px;
    }
}