.footer {
  color: white;
  text-align: center;
  width: 100%;
  margin-top: auto;
  bottom: 0;
}

.footer-title a {
  font-size: 25px;
  font-family: 'Courier New', monospace;
  margin: 0 20px;
  text-decoration: none;
  color: rgb(255, 117, 117);
}

.footer-title a:hover {
  color: rgb(0, 205, 255);
}