* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container-fluid .row {
  padding: 0;
  margin: 0;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .header-title {
    font-size: 30px;
  }

  .footer-title a {
    display: block;
  }

  .navLinks {
    width: 100%;
    flex-direction: column;
  }

  .img-con img {
    width: 100px;
    height: auto;
  }

  .project-item img {
    max-width: 100px;
  }
}


@media (min-width: 601px) and (max-width: 900px) {
  body {
    font-size: 18px;
  }

  .bio-text span {
    font-size: 18px;
    color: aqua;
  }

  .footer {
    height: 75px;
  }

  .footer-title {
    font-size: 20px;
  }

  .navLinks {
    width: 100%;
    margin: auto;
  }

  .img-con img {
    width: 200px;
    height: auto;
  }

  .project-item img {
    max-width: 250px;
    border: 5px solid white;
  }

  .project-item h3 {
    font-size: 10%;
  }
}


@media (min-width: 901px) {
  body {
    font-size: 20px;
  }
}